# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.env
*.env

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Build output
bin/
dist/
build/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.iws

# Environment variables
.env
.env.local
.env.*.local
.env.sims*
.env.meas*
.env.prod*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
*.swp
*.swo
*~

mosquitto/config/passwd
mosquitto/config/dynamic-security.json

# React App

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.key
*.crt

measurements/
*.log

venv/

# Measurement output files
measurement/docker_stats.csv
measurement/graphs/*.png
graphs/

testing/measurement/docker_stats.csv
*.tex