LND_HOST={{ lina_lnd_host }}
LND_TLS_CERT_HEX={{ lina_lnd_tls_cert_hex }}
LND_TLS_SERVER_NAME={{ lina_lnd_tls_server_name }}
LND_MACAROON_HEX={{ lina_lnd_macaroon_hex }}
NETWORK={{ lina_lightning_network }}
SERVICE_TOKEN={{ lina_service_token }}
LISTEN_ADDR={{ lina_lightning_listen_addr }}
GRPC_ADDR={{ lina_lightning_grpc_addr }}
REDIS_ADDR=127.0.0.1:6379
{% if (lina_redis_password | default('') | string | length) > 0 %}
REDIS_PASSWORD={{ lina_redis_password }}
{% endif %}
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_SERVICE_NAME=lightning-service
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
GIN_MODE=release
