# Managed by Ansible — see https://github.com/ncabatoff/process-exporter
process_names:
  - comm:
      - device
      - ledger
      - consumption
      - lightning
      - mosquitto
      - redis-server
