{% if (lina_redis_password | default('') | string | length) > 0 %}
REDIS_ADDR=redis://:{{ lina_redis_password }}@127.0.0.1:6379
{% else %}
REDIS_ADDR=redis://127.0.0.1:6379
{% endif %}
REDIS_EXPORTER_REDIS_ONLY_METRICS=true
REDIS_EXPORTER_CHECK_SINGLE_STREAMS=event.ledger,event.consumption,event.device,event.lightning
